# Copyright (c) 2020 Facebook, Inc. and its affiliates
# SPDX-License-Identifier: Apache-2.0

menuconfig BNO055_driver
        bool "bno055 driver"
        default y
        help
          Enable support for bno055 driver

if BNO055_driver

module = BNO055_driver
module-str = bno055_driver
source "subsys/logging/Kconfig.template.log_config"

endif