&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	status = "okay";
	sam_i2c_node: sam@42 {
		compatible = "u-blox,sam-m8q";
		reg = <0x42>;
		label = "SAM_I2C";
	};
};