# Copyright (c) 2021 Aled Cuda <aled@berkeley.edu>
# SPDX-License-Identifier: BSD-3-Clause

menu "CAS"

# Add more drivers here like https://github.com/olofk/serv/tree/main/zephyr/drivers
#rsource "drivername/Kconfig"

endmenu
